wchen-r7 <wchen-r7@github>        sinn3r <msfsinn3r@gmail.com>
todb-r7 <todb-r7@github>          Tod Beardsley <todb@metasploit.com>
jvazquez-r7 <jvazquez-r7@github>  jvazquez-r7 <juan.vazquez@metasploit.com>
hmoore-r7 <hmoore-r7@github>      HD Moore <hd_moore@rapid7.com>
jlee-r7 <jlee-r7@github>          James Lee <egypt@metasploit.com>
dmaloney-r7 <dmalone-r7@github>   David Maloney <DMaloney@rapid7.com>
joev-r7 <joev-r7@github>          Joe Vennix <Joe_Vennix@rapid7.com>
bturner-r7 <bturner-r7@github>    Brandon Turner <brandon_turner@rapid7.com>
ecarey-r7 <ecarey-r7@github>      Erran Carey <e@ipwnstuff.com>

